<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td:empty {
 display: none;
}
.button {
  background-color: #f8f9ff;
  border: none;
  color: #010101;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

      input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


</style>
</head>
<body>
<h1>{{input_chain[0]}}</h1>
<table class="inlineTable" style="width:auto">

  <tr>
    <th>{{input_chain[1]}}</th>
    <th>Action</th>
  </tr>
    {% for input in input_chain[2:] -%}
  <tr>
    <td>{{ input|e -}}</td>
      <td>
          <form method="post" action="/delete_input">
	<input type="submit" name="delete" value="Delete" class="button ">
	<div id = "view_button"><input  type="hidden" name="remove" value="{{input[0]}}" class="has-value"></div>
	</form>
      </td>
      </tr>
    {%- endfor %}

</table>
<h1>{{output_chain[0]}}</h1>
<table class="floatedTable" style="width:auto">

  <tr>
    <th>{{output_chain[1]}}</th>
    <th>Action</th>
  </tr>
    {% for input in output_chain[2:] -%}
  <tr>
    <td>{{ input|e -}}</td>
      <td>
          <form method="post" action="/delete_output">
	<input type="submit" name="delete" value="Delete" class="button">
	<div id = "view_button"><input  type="hidden" name="remove" value="{{input[0]}}" class="has-value"></div>
	</form>
      </td>
      </tr>
    {%- endfor %}

</table>
<h1>{{forward_chain[0]}}</h1>
<table class="floatedTable" style="width:auto">

  <tr>
    <th>{{forward_chain[1]}}</th>
    <th>Action</th>
  </tr>
    {% for input in forward_chain[2:] -%}
  <tr>
    <td>{{ input|e -}}</td>
      <td>
          <form method="post" action="/delete_forward">
	<input type="submit" name="delete" value="Delete" class="button">
	<div id = "view_button"><input  type="hidden" name="remove" value="{{input[0]}}" class="has-value"></div>
	</form>
      </td>
      </tr>
    {%- endfor %}

</table>
<h1>ADD new rule</h1>
<form action="/add_input" method="post">
Chain:<br>
<select name = "chain"><br>
<option value="INPUT">Input</option>
<option value="OUTPUT">Output</option>
<option value="FORWARD">Forward</option>
</select><br>
Protocol<br>
<select name = "protocol"><br>
<option value="TCP">TCP</option>
<option value="UDP">UDP</option>
</select><br>
 Port:<br>
<input type="text" name="port"><br>
 Policy:<br>
  <select name = "policy"><br>
<option value="ACCEPT">Accept</option>
<option value="DROP">Drop</option>
</select><br>
<input type="submit" value="Submit" class="button"><br>
</form>

<h1>ADD new IP rule</h1>
<form action="/ip_input" method="post">
Chain:<br>
<select name = "chain"><br>
<option value="INPUT">Input</option>
<option value="OUTPUT">Output</option>
<option value="FORWARD">Forward</option>
</select><br>
 IP:<br>
<input type="text" name="ip"><br>
 Policy:<br>
  <select name = "policy"><br>
<option value="ACCEPT">Accept</option>
<option value="DROP">Drop</option>
</select><br>
<input type="submit" value="Submit" class="button"><br>
</form>

<h1>Change chain policy</h1>
<form action="/change_policy" method="post">
Chain:<br>
<select name = "chain"><br>
<option value="INPUT">Input</option>
<option value="OUTPUT">Output</option>
<option value="FORWARD">Forward</option>
</select><br>
 Policy:<br>
  <select name = "policy"><br>
<option value="ACCEPT">Accept</option>
<option value="DROP">Drop</option>
</select><br>
<input type="submit" value="Submit" class="button"><br>
</form>
</body>
</html>